<h1 class="choose-a-team">Choose a Team.</h1>

<!--Carousal-->
<div class="carousel-wrapper" ng-controller="team-selectCtrl">
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/at-hawks01.png" id="hawks"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/celtics.png" id="celtics"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/nets.png" id="nets"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/hornets.png" id="hornets"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/bulls.png" id="bulls"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/cavs.png" id="cavs"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/mavs.png" id="mavs"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/denver.png" id="nuggets"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/pistons.png" id="pistons"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/warriors.png" id="warriors"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/rockets.png" id="rockets"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/pacers.png" id="pacers"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/clippers.png" id="clippers"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/lakers.png" id="lakers"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/grizzlies.png" id="grizzlies"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/heat.png" id="heat"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/bucks.png" id="bucks"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/t-wolves.png" id="timberwolves"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/pelicans.png" id="pelicans"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/knicks.png" id="knicks"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/thunder.png" id="thunder"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/magic.png" id="magic"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/sixers.png" id="sixers"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/phoenixsuns.png" id="suns"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/trail-blazers01.png" id="trailblazers"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/kings.png" id="kings"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/spurs.png" id="spurs"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/raptors.png" id="raptors"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/jazz.png" id="jazz"></div></a>
  <a ui-sref=""><div class="card"><img src="../images/TeamLogos-Edited/Card-Size/wizards.png" id="wizards"></div></a>
  
</div>