.choose-a-team{
    font-family: "Roboto-Regular";
    color: #072840;
    font-size: 65px;
    text-align: center;
    margin: 65px auto;
}

.carousel-wrapper{
    display: flex;
    align-items: center;
    margin: 60px;
}
.card{
    height: 48vh;
    background: #C9C9C9;
    border-radius: 15px;
    margin: 10px 25px;
}
