<h1 class="choose-a-team">Choose a Team.</h1>

<!--Carousal-->
<div class="carousel-wrapper" ng-controller="team-selectCtrl">
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
  <div class="card">your content</div>
</div>