header {
    display: flex;
    height: 65px;
    background: #252525;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
    background: #fff;
}

nav {
    width: 600px;
    
}

ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

li {
    color: #fff;

}

.items-container {
    flex-wrap: wrap;
    display: flex;
}

.item{
    min-width: 100px;
    height: 100px;
    background: lightskyblue;
    
}

.item:nth-child(odd){
    background: cornflowerblue;
}