        <!--pet Image-->
        <!--pet Image click collapse the image-->
    <div ng-repeat="pet in pets" class="pet-grid__item grid__item one-half large--one-third" >
        <a class="pet-grid__pet">
            <img class="pet-grid__img"   sizes="(min-width: 960px) 33vw, (min-width: 769px) 50vw, 100vw" alt="Image of a {{pet.name}}">
        </a>
        <a class="pet-grid__pet">
            <img ng-src="{{pet.image}}">
        </a>

        <!--pet Meta-->
        <div class="pet-grid__meta">
            <!--Name click should redirect to the pet-details section. Remember to pass along the pet id so you can make an api call
        to get the specific pet details-->
            <h3 class="pet-grid__name"><a ui-sref="pet-details" ng-click="getPet(pet.name)">{{pet.id}}</a></h3>

            <!--pet Breed-->
            <h4 class="pet-grid__sub">{{pet.breed}}</h4>

            <!--pet Age-->
            <div class="pet-grid__price">{{pet.age}} in dog years</div>
        </div>

    </div>
