@import url('https://fonts.googleapis.com/css?family=Actor|Oswald:400,700');

h1,h2,h3,h4,h5,h6{
    font-family: 'Actor', sans-serif;
    font-width: 400px;
    letter-spacing: 3px;
}
p,a,button,li {
    font-family: 'Actor', sans-serif;
    font-width: 400px;
    color: #fff;
    letter-spacing: 3px;
    
}
.viewport-bg {
    height: 100vh;
    background: url("https://s3.amazonaws.com/www-assets.invisionapp.com/marketplace/assets/mp-hero-07.jpg");
    background-position: center;
    background-size: cover;
}



/*-----------HEADER------------*/
.header-container {
    height: 85px;
}

.nav{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}


button{
    height: 65%;
    margin: 0px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 25px;
    border: none;
    background-color: transparent;
}

.cart {
    height: 65%;
    border: 1.5px solid #fff;
    color: #fff;
}




/*-----------MAIN TITLE------------*/
.hero-div {
    height:83vh;
    display: flex;
    color: #fff;
    flex-direction: column;
    line-height: 75px;
    align-items: center;
    justify-content: center;
}

.hero-div h1 {
    font-size: 45px;
    letter-spacing: 11px;
    border: 5px solid #fff;
}

.hero-div h3 {
    font-size: 22px;
}
/*-----------LOGO------------*/
.logo {
}

/*-----------LOWER-TEXT------------*/
.baby-hero {
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.baby-hero:nth-child(1){

}

.baby-hero:nth-child(2){
    align-self: center;
}