nav{
    background: navy;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: arial;
}

img{
    width: 600px;
}

