
<section ng-controller="rosterCtrl">
    <div class="roster-table-headings"></div>
<!--{{test1}}-->
    
    <section class="player-data-area"></section>
         

            <div class="player-with-stats" ng-repeat="player in players">
            <table>
                <tr>
                    <td class="name1"><p>{{player.name}}</p></td>
                    <td><img ng-src="{{}}"></td>
                    <td>{{player.position_abbreviation}}</td>
                    <td>{{player.years_of_experience}}</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>212</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td class="button-pos"><button class="add-player-btn" ng-click="addLeft()">Add Player 1</button></td>
                    <td class="button-pos"><button class="add-player-btn2" ng-click="addRight()">Add Player 2</button></td>
                    
            
                </tr>
            </table>
        </div>
    
    
</section>
