<section class="lede section--padding-both">
    <div class="container">
        <p>Home Page</p>
    </div>
</section>
<section class="categories section--padding-bottom">
    <div class="container container--medium">
        <div class="category bg-green-light">
            <h2 class="category__title section__title section__title--alt">Clothing</h2>
            <p class="category__description">Super awesome clothes that will change your entire look</p>

            <!-- Here is the Shop Clothing Button  -->
            <!-- This should point to the shop view-->
            <a class="btn" ui-sref="shop">Shop clothing</a>

            <a class="category__background" style="background-image: url('../img/home-clothing-bg.jpg');"></a>
        </div>
    </div>
</section>
