<!DOCTYPE HTML>
<html ng-app="chatroom">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="mainCtrl">
    <div class="main-container">
      <h1> DevMountain Chat Room </h1>
      <form ng-submit="postMessage(newMessage)">
        <input class="form-control text-box" type="text" ng-model="message" placeholder="Message">
      </form>
      <button class="clear" ng-click="clearChat()">CLEAR</button>
      <div class="messages-container">
        <p ng-repeat="message in messages">
          {{message.message}} </p>
      </div>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/messageService.js"></script>
  </body>
</html>
