<section class="lede section--padding-both">
    <div class="container">
        <p>Welcome to the DevMountain Front End Developer assessment. Looks like your routing is working</p>
    </div>
</section>
<section class="categories section--padding-bottom">
    <div class="container container--medium">
        <div class="category bg-green-light">
            <h2 class="category__title section__title section__title--alt">Pets</h2>
            <p class="category__description">Super awesome pets that will change your entire life</p>

            <!-- Here is the Shop pets Button  -->
            <!-- This should point to the pets view-->
            <a class="btn" ui-sref="pets">Shop pets</a>

            <a class="category__background" style="background-image: url('../img/home-clothing-bg.jpg');"></a>
        </div>
    </div>
</section>
