main{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
}
.quote-wrapper{
    width: 100%;
    height: 25%;
    margin: 5px;
    box-shadow: 5px 2px 2px #888888;
    background-color: lightblue;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.quote{
    margin-left: 10px;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    
}

.author{
    margin-left: 10px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.button-wrap{
    
    display: flex;
    /*justify-content: flex-end;
    align-items: flex-end;*/
}

.add-quote{
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
    border: 1px solid #000;
    color: #fff;
    align-self: flex-end;
    font-size: 12px;
    text-align: center;
}

.remove-quote{
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
    border: 1px solid #000;
    color: #fff;
    align-self: flex-end;
    font-size: 12px;
    text-align: center;

}

