<div class="roster-table-headings"></div>
<section class="roster-table" ng-repeat="player in teamRoster">
    <div class="player-with-stats">
        <ul>
            <li>{{player.name}}</li>
            <li>{{player.team}}</li>
            <li>{{player.position_abbreviation}}</li>
            <li>{{player.years_of_experience}}</li>
            <li>{{player.defrebounds}}</li>
            <li>{{player.offrebounds}}</li>
            <li>{{player.assists}}</li>
            <li>{{player.stls}}</li>
            <li>{{player.blk}}</li>
            <li>{{player.plus_minus}}</li>
            <li>{{player.fg_prcnt}}</li>
            <li>{{player.PPG}}</li>
        </ul>
        <button class="add-2-left"></button>
        <button class="add-2-right"></button>
    </div>
</section>