<section class="home-banner">
    <nav-dir class="nav-dir"></nav-dir> 
    <div class="title-wrapper">
        <div class="tagline-wrapper">
            <h1>Easily create beautiful designs + documents</h1>
            <p>Use Canva's drag-and-drop feature and professional layouts to design consistently stunning graphics.</p>

            <div class="btn-banner">
                <a href="https://www.canva.com/" title="Start Designing" class="start-designing"><button>Start Designing</button></a>

                <a href="https://www.canva.com/" title="Download" class="download"><button>Download</button></a>
            </div>
        </div>
    </div>


    <!--***************************************************-->
    <div class="parallax">
      <div class="parallax__layer parallax__layer__0">
        <img src="../images/trees   parallax/parallaxTreesClouds.png"/>
      </div>
      <div class="parallax__layer parallax__layer__1">
        <img src="../images/trees parallax/parallaxTrees1.png"/>
      </div>
      <div class="parallax__layer parallax__layer__2">
        <img src="../images/trees parallax/parallaxTrees2.png"/>
      </div>
      <div class="parallax__layer parallax__layer__3">
        <img src="../images/trees parallax/parallaxTrees3.png"/>
      </div>
      <div class="parallax__layer parallax__layer__4">
        <img src="../images/trees parallax/parallaxTrees4.png"/>
      </div>
      <div class="parallax__layer parallax__layer__5">
        <img src="../images/trees parallax/parallaxTrees5.png"/>
      </div>
      <div class="parallax__layer parallax__layer__6">
        <img src="../images/trees parallax/parallaxTrees6.png"/>
        <div class="parallax__cover">
            <section class="section-2">
              <h2>Design Presentations, social media graphics, and more with thousands of beautiful layouts.</h2>
            </section>
        
        </div>
      </div>
    <!--***************************************************-->
    </div>
</section>




<!--*****************
NOTE: Remaining sections of this page are inside parallax-mountains directive-->


