<html ng-app="myApp">
	<body ng-controller="mainCtrl">
		<!--{{test}}<br>
		{{test1}}<br>-->

		<input type="text" placeholder="Type to filter results" ng-model="filter">
		<div ng-repeat="employee in employees | filter: filter">
			<ul>
				<li>{{employee.name}}</li>
				<li>{{employee.email}}</li>
				<li>{{employee.dateEmployed}}</li>
				<li>{{employee.phone}}</li>
			</ul>
		</div>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>