<header class="player-header-1" ng-controller="mainCtrl">
    <img src="../../images/icons/Logo.png" class="logo-2">

    
    <section class="player-heads">
        <div class="portrait-wrapper-1">
            <div class="team-logo-bg">
                <img class="leftBG" ng-src="{{teamData[1].logo}}"></img>
            </div>
            <div class="player-portrait-1">
                <img ng-src="{{leftPlayer.headimg || '../../images/Player heads/empty person.png'}}">
                <p class="selectPlayer"><strong>{{leftPlayer.playername || "Select a player"}}</strong></p>
            </div>
        </div>

        <div class="roster-logo">
            <img ng-src="{{logo}}">
            <div ><a ui-sref="fight-view"><button class="ready-btn" ng-click="">READY</button></a></div>
        </div>

        <div class="portrait-wrapper-2">
            <div class="team-logo-bg">
                <img class="rightBG" ng-src="{{teamData[2].logo}}">
            </div>
            <div class="player-portrait-2">
                <img ng-src='../../images/Player heads/empty person.png'>
                <p class="selectPlayer"><strong>{{leftPlayer.playername || "Select a player"}}</strong></p>
            </div>
        </div>
    </section>

<nav-dir class="nav-dir"></nav-dir>
</header>

