<header class="player-header-1" ng-controller="mainCtrl">
    <img src="../../images/icons/Logo.png" class="logo-2">

    
    <section class="player-heads">
        <div class="portrait-wrapper-1">
            <div class="team-logo-bg">
                <img class="leftBG" ng-src="{{teamData[1].logo}}" ></img>
            </div>
            <div class="player-portrait-1">
                <img ng-src="{{}}">
                <p class="selectPlayer"><strong>Select a player</strong></p>
            </div>
        </div>

        <div class="roster-logo">
            <img ng-src="{{logo}}">
            <!--<div ><button class="ready-btn" ng-click="">READY</button></div>-->
        </div>

        <div class="portrait-wrapper-2">
            <div class="team-logo-bg">
                <img class="rightBG" ng-src="{{teamData[5].logo}}">
            </div>
            <div class="player-portrait-2">
                <img ng-src="{{}}">
                <p class="selectPlayer"><strong>Select a player</strong></p>
            </div>
        </div>
    </section>

<nav-dir class="nav-dir"></nav-dir>
</header>

