@import url('https://fonts.googleapis.com/css?family=Actor|Oswald:400,700');

body{
    font-family: 'Actor', sans-serif;
    font-width: 400px;
    font-size: 12px;
    letter-spacing: 4px;
}
.viewport-bg {
    height: 100vh;
    width: 100%;
    background: url("https://s3.amazonaws.com/www-assets.invisionapp.com/marketplace/assets/mp-hero-07.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*-----------HEADER------------*/
.header-container {
    height: 85px;
}

.nav{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}


button{
    height: 65%;
    margin: 0px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 25px;
    border: none;
    background-color: transparent;
}

.cart {
    height: 65%;
    border: 1.5px solid #fff;
    color: #fff;
}




/*-----------MAIN TITLE------------*/
.hero-content {

}
.marketplace-svg {
    width: 80%;
}

.bottom-logo {
    width:75px;
    height: 75px;
}

.hero-created-by {
    position: absolute;
    bottom: 30px;
    color: #fff;
    text-transform: uppercase;
}

.hero-created-by a{
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}
/*.hero-div {
    height:83vh;
    display: flex;
    color: #fff;
    flex-direction: column;
    line-height: 75px;
    align-items: center;
    justify-content: center;
}

.hero-div h1 {
    font-size: 45px;
    letter-spacing: 11px;
    border: 5px solid #fff;
}

.hero-div h3 {
    font-size: 22px;
}*/
/*-----------LOGO------------*/

/*-----------LOWER-TEXT------------*/
.baby-hero {
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
}

.baby-hero:nth-child(1){
    align-self: center;
}

.baby-hero:nth-child(2){
    align-self: flex-end;
}