<div class="pet-grid__item   grid__item one-half large--one-third" >

    <!--Repeat over your data and display it below using your pet directive-->

    <!--pet skeleton-->
        <!--pet Image-->
        <!--pet Image click collapse the image-->
        <a class="pet-grid__pet" >
            <img class="pet-grid__img"   sizes="(min-width: 960px) 33vw, (min-width: 769px) 50vw, 100vw" alt="">
        </a>
        <a class="pet-grid__pet">
            show image
        </a>

        <!--pet Meta-->
        <div class="pet-grid__meta">
            <!--Title click should redirect to the pet-details section. Remember to pass along the pet id so you can make an api call
        to get the specific pet details-->
            <h3 class="pet-grid__name"><a><!--Name--></a></h3>

            <!--pet Breed-->
            <h4 class="pet-grid__sub"><!--Breed--></h4>

            <!--pet Age-->
            <div class="pet-grid__price"><!--Age--></div>
        </div>
    <!--End pet Skeleton-->
</div>
