<header class="main-header-1" ng-controller="player-headerCtrl">
    <img src="../../images/icons/Logo.png" class="logo">
    <div class="portrait-wrapper">
        <div class="team-logo-bg">
            <img ng-src="{{}}">
        </div>
        <div class="player-portrait">
            <img ng-src="{{}}">
        </div>
    </div>

    <div class="portrait-wrapper">
        <div class="team-logo-bg">
            <img ng-src="{{}}">
        </div>
        <div class="player-portrait">
            <img ng-src="{{}}">
        </div>
    </div>
</header>