@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400i');
p, a, button, li {
    font-family: "Open Sans", sans-serif;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    background-color: #000;
    opacity:  0.4;
    display: none;
}

.main-bg {
    height: 100vh;
    width: 100%;
    background: url("./main-bg.jpg") center no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 40px;
    position: relative;
}

.main-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.logo {
    width: 50px;
    height: 50px;
    background: #fff;
}

.menu {
    width: 50px;
    height: 50px;
}

.menu img{
    width: 100%;
    
}

h1 {
    margin-top: 30vh;
    font-size: 4rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    
}

p {
    font-size: 1.6rem;
    margin-bottom: 65px;
    
}

.sub-content {
    font-style: italic;

}

button {
    width: 50px;
    height: 50px;
    background: #1B8BF9;
    border-radius: 50%;
    border: none;

}

button: focus {
    outline: none;
}